@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Source Sans Pro;
  text-decoration: none;
}
.top_header {
  background-color: #0ba7f1eb;
  overflow: hidden;
  width: 100%;
}
.icon_left {
  float: left;
  margin-left: 50px;
}
.icon_right {
  float: right;
  margin-right: 100px;
}
li {
  display: inline-block;
}
.icon_left li a {
  width: 200px;
  display: block;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  padding: 10px;
}
.icon_right i {
  width: 35px;
  text-align: center;
  font-size: 20px;
  height: 35px;
  color: #0ba7f1eb;
  padding: 10px;
  background-color: #fff;
  border-radius: 50px;
}
.background {
  background: url("images/bg-blur.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bottom_header {
  clear: both;
  display: flex;
  justify-content: space-around;
}
.banner img {
  margin: 10px;
  width: 70%;
  height: 100px;
}
.search_box {
  margin: 40px 0;
  margin-left: 80px;
}
form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}
/*navbar*/
.navbar-nav {
  width: 100%;
  background-color: #0b7dda;
}
nav {
  background: #108ff0;
  padding: 20px 0px;
}
.navbar_elements {
  margin: auto 50px;
}
.navbar_elements li a {
  text-align: center;
  text-transform: uppercase;
  display: block;
  color: #fff;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 1px;
  text-align: center;
  padding: 10px;
  margin: 0;
  width: 175px;
  line-height: 20px;
}
.bg {
  width: 100%;
  height: 100%;
}
.bg img {
  width: 100%;
  height: 100%;
}
.services {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.service_items {
  width: 24%;
}
.service_items img {
  width: 100%;
  height: 200px;
}
.service_items h3 {
  margin: 10px 0;
  color: #108ff0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 32px;
}
.service_items p {
  text-transform: capitalize;
  margin: 10px 0;
  font-weight: 300;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
}
.item-1,
.item-3 {
  background-color: rgba(220, 220, 220, 0.2);
}
/*section1*/
.fluid-container {
  width: 100%;
  background-color: #fff;
}
.section_best_seller {
  width: 80%;
  margin: 40px auto;
}
.title {
  width: 100%;
  height: 60px;
  background-color: #2196f3;
  text-align: center;
}
.title h1 {
  line-height: 60px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
}
.teams .team {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}
.teams .team_member {
  width: 23%;
  height: auto;
  cursor: pointer;
}
.teams .team img {
  width: 100%;
  height: 300px;
  margin-bottom: 25px;
  transition: all 0.5s ease;
  border: 1px solid lavender;
  box-shadow: 2px 2px linen;
}
.teams .team :hover img {
  transform: scale(1.1);
}
.teams .team h3 {
  color: #2196f3;
  text-transform: uppercase;
  text-align: center;
}
/* industry*/
.container {
  width: 100%;
  background-color: lavender;
  margin-top: 20px;
}
.section_industry {
  padding: 40px 0;
  width: 80%;
  margin: 0px auto;
}
.industrails {
  display: flex;
  justify-content: space-around;
}
.indusrty_list {
  margin-top: 30px;
  width: 30%;
  background-color: #fff;
}
.indusrty_list ul {
  text-align: left;
}
.indusrty_list ul li {
  display: block;
  padding: 10px;
}
.indusrty_list ul li a {
  font-weight: 600;
  color: #2196f3;
  padding: 10px;
  margin: 15px 0;
  font-size: 18px;
  text-transform: capitalize;
  text-align: center;
}
.active {
  background-color: #2196f3;
}
.active a {
  color: #fff !important;
}
.industry_details {
  width: 70%;
  margin-top: 30px;
}
.industry_background {
  background: url("images/ind_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.details {
  width: 50%;
  background-color: rgba(0, 0, 0, 0.7);
}
.details p {
  text-align: left;
  padding-top: 30px;
  color: #fff;
  text-transform: capitalize;
  margin-left: 30px;
}
.list li {
  text-transform: capitalize;
  margin: 40px;
  display: block;
  color: #fff;
  list-style: disc !important;
}
.site-content {
  background: url("images/bg-blur.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.site-title {
  color: #fff;
  text-transform: capitalize;
  text-align: center;
}
.site {
  display: flex;
  justify-content: center;
}
.site-col {
  display: flex;
  flex-direction: column;
  margin: 40px auto;
}
.site-butt {
  display: flex;
  flex-direction: row;
  margin: 40px auto;
}
.btn a {
  padding: 10px 40px;
  text-transform: uppercase;
  background-color: #fff;
  width: 380px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #2196f3;
  margin-right: 20px;
  font-weight: 700;
}
/*footer*/
.footer {
  width: 100%;
}
.footer_details {
  width: 80%;
  margin: 0px auto;
}
.footer_details_list {
  display: flex;
  justify-content: space-between;
}
.footer_list {
  width: 30%;
  margin: 40px auto;
}
.footer_list h3 {
  text-transform: uppercase;
  color: #2196f3;
  margin-bottom: 20px;
}
.footer_details_list li {
  display: block;
  padding: 2px;
}
.footer_contact_top i {
  margin: 5px 0;
  margin-right: 10px;
  color: #65b3f3;
  word-spacing: 1px;
  font-size: 15px;
  font-style: italic;
  text-align: justify;
}
.footer_contact_top li a {
  font-size: 16px;
}
.footer_contact_bottom h3 {
  margin-top: 20px;
}
.footer_contact_bottom li {
  display: inline-block;
}
.footer_contact_bottom i {
  width: 35px;
  text-align: center;
  font-size: 20px;
  height: 35px;
  color: #fff;
  padding: 10px;
  background-color: #0ba7f1eb;
  border-radius: 50px;
}
.footer_customer_support li a {
  margin: 5px 0px;
  color: #65b3f3;
  word-spacing: 1px;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 300;
  font-style: oblique;
}
.footer_our_links li a {
  margin: 5px 0px;
  color: #65b3f3;
  word-spacing: 1px;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 300;
  font-style: oblique;
}
.footer_img {
  width: 80%;
  height: 130px;
}
.footer_img img {
  width: 100%;
  height: 100%;
}
.footer_image {
  width: 30%;
}
.footer_image p {
  margin-top: 10px;
  text-align: justify;
  color: #0ba7f1eb;
  font-weight: 300;
  font-style: oblique;
}
.payment {
  width: 50%;
}
.payment img {
  width: 100%;
}
.payment p {
  font-style: normal !important;
  color: rgb(4, 4, 134);
  text-align: justify;
  font-size: 12px;
}
.payment h4 {
  text-transform: capitalize;
  color: rgb(4, 4, 134);
}
@media (max-width: 568px) {
  .services {
    display: flex;
    flex-direction: column;
  }
  .service_items {
    width: 100%;
  }
  .navbar_elements {
    text-align: center;
  }
  .navbar_elements li a {
    display: inline-block;
  }
  .teams .team {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
  }
  .teams .team_member {
    width: 100%;
  }
  .footer_details_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer_list {
    width: 100%;
    text-align: center;
    margin: auto;
  }
  .footer_image {
    width: 100%;
  }
  .payment {
    width: 90%;
  }
  .payment p,
  h4 {
    text-align: center;
  }
  .site-butt {
    text-align: center;
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: 30px;
  }
  .industrails {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .indusrty_list {
    margin-top: 30px;
    width: 100%;
  }
  .industry_details {
    width: 100%;
  }
  .details {
    width: 100%;
  }
  .title {
    width: 100%;
  }
}
